<% if user_signed_in? %>
  <div class="sidebar col-md-3">
    <div class="user">
      <h2>User info</h2>
      <%= image_tag  user.get_profile_image(100,100) %>
      <table class="table">
        <tr>
          <th>name</th>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <th>introduction</th>
          <td><%= user.introduction %></td>
        </tr>
      </table>
      <% if user == current_user %>
        <button type="button" class="btn btn-outline-secondary btn-block">
          <%= link_to edit_user_path(user.id) do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </button>
      <% else %>
        <button type="button" class="btn btn-outline-secondary btn-block">
          <%= link_to edit_user_path(user.id) do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </button>
      <% end %>
    </div>
    <div class="post">
      <%= form_with model: Book.new,  url:books_path, mehtod: :post do |f| %>
        <h4>New book</h4>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
        <br>
        <%= f.label :body, 'Opinion' %><br>
        <%= f.text_field :body %>
        <br>
        <%= f.submit 'Create Book', class: 'bg-success text-light' %>
      <% end %>
    </div>
  </div>
<% end %>