<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "Books", books_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "About", about_path %>
        </li>
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Log in", new_user_session_path %>
        </li>
      <% end %>
    </header>
    <% if user_signed_in? %>
      <div class="sidebar">
        <%= form_with model: @book = Book.new,  url:books_path, mehtod: :post do |f| %>
          <h4>New Book</h4>
          <%= f.label :title %><br>
          <%= f.text_field :title %>
          <br>
          <%= f.label :body, 'Opinion' %><br>
          <%= f.text_field :body %>
          <br>
          <%= f.submit 'Create Book' %>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
